<h1>Technologie Radar</h1>

<div>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="overview" class="nav-link">Technologien</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="new" class="nav-link">Neue Technologie</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>


<!--app-create-tech></app-create-tech-->
